.myfontstyle {
    font-family: 'Ubuntu';
    font-size: x-large;
    text-align: center;
}

body {
    background: url("https://images.unsplash.com/photo-1529511582893-2d7e684dd128?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2090&q=80");
}
.mygrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    column-gap: 1em;
    row-gap: 1em;
    padding: 100px;
    margin: 50px 150px 50px 150px;
    border-color: gold;
    border-style: groove;
}
.item1 {
    grid-column: 2/3;
    grid-row: 1;
    text-align: right;

}
.item2 {
    grid-column: 3/4;
    grid-row: 1;
    text-align: left;
}
.item3 {
    grid-column: 2/3;
    grid-row: 2;
    text-align: right;
}
.item4 {
    grid-column: 3/4;
    grid-row: 2;
    text-align: left;
}
.item5 {
    grid-column: 2/3;
    grid-row: 3;
    text-align: right;
}
.item6 {
    grid-column: 3/4;
    grid-row: 3;
    text-align: left;
}
.item7 {
    grid-column: 3/4;
    grid-row: 4;
    text-align: right;
}
.butn {
    background-color: transparent;
    border-radius: 50%;
    border-style: groove;
    border-width: .3em;
    border-color: goldenrod;
    font-style: italic;
    padding: 15px 35px;
}

.butn:hover {
    background-color: goldenrod;
    transition-duration: 0.3s;
    font-weight: bold;
}